@page
@model PhoneShop.Pages.AboutModel
@{
    ViewData["Title"] = "О нас";
}

<div style="color:black" class="container shadow-lg pt-2 mt-2">
    <h1 class="text-center">О компании</h1>

    <p class="pt-4" style="font-size:30px; font-weight:500">
        Привет, друзья! Я <a title="Даниил" style="color:black" href="https://vk.com/dubleweb">Даниил</a>, главный в Перми по покупке и продаже техники Apple. Веду популярный торговый профиль в <a style="color:black" href="https://instagram.com/dubleweb">инстаграмме</a>.
    </p>
    <p style="font-size:15px; color:gray">
        Я каждый день покупаю, продаю и обмениваю технику и аксессуары Apple. Все, что я выкупаю, попадает сначала в основной профиль инстаграм, затем, что не продано, я выкладываю сюда.
    </p>
    <p class="mt-3" style="font-size:15px; color:gray">
        Здесь, на этом сайте, я предлагаю вам новые и б/у товары, которые можно купить в моем магазине в самом центре Перми в ЖК Арсенал, каждый день с 11 до 21.
    </p>

    <h3 class="pt-5">Моя гарантия</h3>
    <div class="pb-5" style="font-size:15px; color:gray">
        <p class="pt-2">
            На новую технику Apple действует гарантия от производителя 1 год c  момента Вашей активации.
        </p>
        <p>
            От себя на любую б/у технику я даю от 1 месяца гарантии, плюс возможно на технику действует официальная гарантия.
        </p>
        <p>
            Важно понимать, что я не беру товар на комиссию, а выкупаю за свои деньги, поэтому, как никто другой, заинтересована купить оригинальный товар, а не подделку, реф или девайс после нескольких ремонтов. Я отлично разбираюсь в том, что покупаю и продаю, давая полноценную гарантию, лично ручаясь за каждую вещь!
        </p>
        <p>
            Философия нашего магазина такова: мы помогаем людям покупать выгодно и безопасно! А в связи с большим количеством обмана на рынке - это как никогда актуально. Мы намеренно не занимаемся: восстановленными, ремонтными, RFB и т.д. Только новые устройства, запечатанные в заводскую плёнку и б/у оригинал.
        </p>
    </div>
</div>