@page
@model PhoneShop.Pages.AdminCurrentsOrdersModel
@{
    Layout = "_LayoutAdmin";

}
<form>
    <table class="table">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Email</th>
                <th>Номер тел</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</form>