@page
@model PhoneShop.Pages.AdminPageModel
@{
    ViewData["Title"] = "admin";
    Layout = "_LayoutAdmin";

}

<div class="text-center" style="padding-top:300px">
    <h1> Админ страница </h1>
</div>