@page
@model PhoneShop.Pages.AwaitModel
@{
    Layout = null;
}


<div class="container">
    @if (TempData["SM"] != null)
    {
        <div class="alert-success text-center">
            @TempData["SM"]
        </div>
    }
    <h1>Перенаправляю</h1>



</div>



