@page
@model PhoneShop.Pages.DeliveryModel
@{
    ViewData["Title"] = "Доставка";

}
<div class="container shadow mt-3 pt-2">
    <h1 class="text-center">Доставка.</h1>

    <h3>Самовывоз.</h3>
    <div class="container">
        <p>Осуществляется по адресу: г. Пермь, ул. Красные Казармы 68 (11 этаж)</p>
        <p class="font-weight-bold">Внимание! При самовывозе необходимо заранее забронировать товар! Не забудьте связаться с нами перед приездом</p>
        <p>После бронирования товара с Вами свяжеться менедежер для уточнение деталей заказа</p>
    </div>

    <h2>Доставка по Перми.</h2>
    <div class="container">
        <p>с 11 утра до 21 вечера</p>
        <p>
            Я с радостью, а Вы знаете, что это правда, доставлю Вам товар по Перми и постараюсь это сделать в минимальные сроки!
        </p>
        <p>
            При сумме заказа от 5000 руб. доставка по центру города осуществляется — бесплатно, во все остальные районы (Закамск, Гайва, Вышка 2, Молодежное,
            Голованово, Кондратово, Железнодорожный, Пролетарский, Запруд, Усть-Мулы, Заостровка, Ива и т.п.) — 150 рублей.
        </p>
    </div>
    <h3 class="text-center">Зона доставки</h3>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7a918287f36e51e9b1dfa33b8caa2bdc4c1c29185bfd3e366b056c1512cc3942&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

    <h2 style="padding-top:20px">Доставка по России.</h2>
    <p>Доставка по России невозможно, функционал в работе</p>
</div>