@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
@{
    var sign = UserManager.GetUserName(User);
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 text-bg-dark sticky-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="font-size:16px">
                    <li><a asp-page="/Shared/Index" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a asp-page="/Katalog" class="nav-link px-2 text-white">Каталог</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:white" href="#" data-bs-toggle="dropdown" aria-expanded="false">iPhone</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=4>iPhone 14 Pro Max</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=17>iPhone 14 Pro</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=33>iPhone 14 Plus</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=45>iPhone 14</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=57>iPhone 13 Pro Max</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=90>iPhone 13 Pro</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=108>iPhone 13 Mini</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=123>iPhone 13</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=138>iPhone 12 Pro Max</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=154>iPhone 12 Pro</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=170>iPhone 12 Mini</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=185>iPhone 12</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=4>iPhone 11 Pro Max</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=4>iPhone 11 Pro</a></li>
                            <li><a class="dropdown-item" asp-page="/PhoneSetup" asp-route-Id=4>iPhone 11</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:white" href="#" data-bs-toggle="dropdown" aria-expanded="true">AppleWatch</a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="" asp-controller="" class="dropdown-item">Apple Watch Ultra</a></li>
                            <li><a asp-action="" asp-controller="" class="dropdown-item">Apple Watch Series 8</a></li>
                            <li><a asp-action="" asp-controller="" class="dropdown-item">Apple Watch Series 6</a></li>
                            <li><a asp-action="" asp-controller="" class="dropdown-item">Apple Watch Series 5</a></li>
                            <li><a asp-action="" asp-controller="" class="dropdown-item">Apple Watch Series SE</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:white" href="#" data-bs-toggle="dropdown" aria-expanded="false">iPad</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="" asp-controller="">iPad Pro</a></li>
                            <li><a class="dropdown-item" asp-action="" asp-controller="">iPad Air</a></li>
                            <li><a class="dropdown-item" asp-action="" asp-controller="">iPad</a></li>
                            <li><a class="dropdown-item" asp-action="" asp-controller="">iPad mini</a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Delivery" class="nav-link px-2 text-white">Доставка</a></li>
                    <li><a asp-page="/About" class="nav-link px-2 text-white">О нас</a></li>
                </ul>
                <div class="text-end">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a style="margin-right:10px">Привет, @UserManager.GetUserName(User) !!</a>
                        <a asp-page="/CartShop" type="button" class="btn btn-outline-light me-2">Корзина</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-page="/AdminPageIndex" type="button" class="btn btn-outline-light me-2">Admin Page</a>
                        }
                        <a asp-page="/LogoutForm" type="button" class="btn btn-outline-light me-2">Выйти</a>
                    }
                    else
                    {
                        <a asp-page="/LoginForm" type="button" class="btn btn-outline-light me-2">Вход</a>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <p>
                    Навигация по сайту
                </p>
            </section>
            <section class="">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Все права защищены:
            <a class="text-white" href="https://vk.com/dubleweb">dubleweb</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
