@page
@model PhoneShop.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}
<div class="container shadow-lg" style="margin-bottom:400px">
    <div class="text-center" >
        <h1>Стартовая страница</h1>
        <h2 style="padding-top:250px; padding-bottom:250px">Пока что пустая</h2>
    </div>
</div>